@use 'fonts';

// Main Colours
$blue: #040047; 
$pink: #FF87D5;

// Secondary Colours
$white: #FFFFFF; 
$purple: #C681FF; 
$l-blue: #4995F2; 
$black: #000;

// Font Families 
// $h1-font-family: url();
// $h2-font-family:;
// $p-font-family:;

// Font Sizes
$base-font-size: 20px;
$base-font-weight: 300;
$li-font-size: 28px;

