#ar-header {
    margin: 42px 0px;
    text-align: right;
}

model-viewer {
    width: auto;
    max-width: 744px;  
    height: 450px;
    background-color: #efefef; 
    margin: 0 auto;
}




model-viewer::part(default-progress-bar) {
    height: 15px;
    background-color: #074401d2; 
    border-radius: 5px;
    overflow: hidden;
}



// Custom Hotspots 
.Hotspot {
    background: url(../images/hotspot.svg) center no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.5);
    position: absolute; 
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.Hotspot:hover {
    transform: scale(1.2);
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.8);
}


/* Annotation Styling */
.HotspotAnnotation {
    background: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    border-radius: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    left: calc(100% + 1em);
    max-width: 80px;
    overflow-wrap: break-word;
    padding: 0.2em 0.8em;
    top: 50%;
    width: max-content;
    position: absolute;
    opacity: 0;
}


.Hotspot:hover .HotspotAnnotation {
    opacity: 1;
}

@media screen and (min-width: 744px) { 
    model-viewer {
        height: 550px;  
    }
    
    .HotspotAnnotation {
        font-size: 16px;
        padding: 0.5em 1em;
    }
    
    }
    
    
    @media screen and (min-width: 1080px) { 
        model-viewer {
            height: 700px;  
            max-width: auto;
        }
    }
