model-viewer {
    width: auto;
    max-width: 1200px;  
    height: 700px;
    background-color: #efefef; 
    margin: 0 auto;
}

// Custom Hotspots 

// This is a prexisting class from HTML 

.Hotspot {
    background: url(../images/hotspot.svg) center no-repeat;
    border: 0;
    width: 45px;
    height: 38px;
    // display: none;
}

// we're gonna make out own hotspot svg's DO NOT use this one

// we borrowed this from the google model viewer file in our class build

.Hotspot:not([data-visible]) {
   opacity: 0;
   pointer-events: none;
  }

.Hotspot:not([data-visible]) {
   opacity: 0;
   pointer-events: none;
  }


.HotspotAnnotation{
    visibility: hidden;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.8);
    display: block;
    font-family: Futura, Helvetica Neue, sans-serif;
    font-size: 18px;
    font-weight: 700;
    left: calc(100% + 1em);
    max-width: 128px;
    overflow-wrap: break-word;
    padding: 0.5em 1em;
    position: absolute;
    top: 50%;
    width: max-content;
  }



.HotspotAnnotation p {
    color: #333;
    line-height: 22px; 
    font-weight: 300;
}

.HotspotAnnotation h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

// customize progress bar


// documentation for the progress bad in model viewer
// There's documentations for everything referring to the model view, should read through all of them 

model-viewer::part(default-progress-bar) {
    height: 30px;
    background-color: #E89B36;
}

// model-viewer tag: <model-viewer> <model-viewer> is in html already a selector that lets us select the shadow dom belongs specifically to a web component
//  "if there's a part with the progress bar, select it"

// part: whatever code gets written in 

// to test: network tab, throttling, simulate different connections 