
#footer-logo {
    width: 56px;
    height: auto;
    margin-top: 14px;
    margin-left: 18px;
}

#acolyte {
    text-align: center;
}

#a-text {
    margin-top: 24px;
    font-weight:lighter;
    font-size: 16px;
    color: rgb(119, 119, 119);
}

.footer-buynow button {
    font-size: 16px;
    padding: 14px 42px;
    background-color: white;
    color: black;
    border-radius: 4px;
    margin: 24px auto;
}

.divider {
    width: 75%;
    height: 1px;
    background-color: rgb(119, 119, 119); 
    margin: 24px auto;
  }

  .footer-links {
    text-align: center;
  }

.footer-links a {
    color:rgb(119, 119, 119); ;
    text-decoration: none;
    margin: 24px 8px;
}
  

