#vs-vid {
  display: block;
  width: 100%;
  height: auto; /* Adjust height dynamically */
}

canvas {
  width: 100%; /* Ensures it scales correctly on mobile */
  height: auto;
}

#vs-vid-container {
  position: relative;
  height: 100vh; /* Makes sure the animation area fits the viewport height */
  overflow: hidden; /* Prevents extra space from appearing */
}
